<nav class="flex items-center justify-center space-x-2" role="navigation" aria-label="Pagination">
    {# Lien vers la page précédente #}
    {% if pagination.previous is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): pagination.previous})) }}"
           class="px-4 py-2 border rounded-md bg-gray-100 text-gray-700 hover:bg-blue-500 hover:text-white">
            Précédent
        </a>
    {% endif %}

    {# Liens vers les pages #}
    {% for page in pagination.pagesInRange %}
        {% if page == pagination.current %}
            <span class="px-4 py-2 border rounded-md bg-blue-600 text-white">
                {{ page }}
            </span>
        {% else %}
            <a href="{{ path(route, query|merge({(pageParameterName): page})) }}"
               class="px-4 py-2 border rounded-md bg-gray-100 text-gray-700 hover:bg-blue-500 hover:text-white">
                {{ page }}
            </a>
        {% endif %}
    {% endfor %}

    {# Lien vers la page suivante #}
    {% if pagination.next is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): pagination.next})) }}"
           class="px-4 py-2 border rounded-md bg-gray-100 text-gray-700 hover:bg-blue-500 hover:text-white">
            Suivant
        </a>
    {% endif %}
</nav>
