<header class="text-blue-950">
    <div class="container mx-auto flex items-center justify-between py-4 px-6">
        <!-- Logo et nom -->
        <div class="flex items-center">
            <a href="{{ path('home') }}" class="flex items-center">
                <!-- Votre logo SVG ici -->
                <span class="text-2xl font-bold text-blue-950">TRAVELIA</span>
            </a>
        </div>

        <div class="flex md:flex space-x-6">
            <!-- Menu de navigation -->
            <nav class="hidden md:flex space-x-6">
                <a href="{{ path('trip') }}" class="text-blue-950 hover:text-gray-400">Voyages</a>
                <a href="{{ path('country') }}" class="text-blue-950 hover:text-gray-400">Pays</a>
            </nav>

            <!-- Icône de connexion/déconnexion -->
            <div class="hidden md:flex">
                {% if is_granted('ROLE_USER') %}
                    <!-- Lien de déconnexion -->
                    <a href="{{ path('app_logout') }}" class="text-blue-950 hover:text-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25a2.25 2.25 0 00-2.25-2.25h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H9m3-3l-3 3 3 3" />
                        </svg>
                    </a>
                {% else %}
                    <!-- Lien de connexion -->
                    <a href="{{ path('app_login') }}" class="text-blue-950 hover:text-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                        </svg>
                    </a>
                {% endif %}
            </div>
        </div>

        <!-- Menu mobile -->
        <button id="mobile-menu-button" class="md:hidden text-blue-950 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
        </button>
    </div>

    <!-- Menu mobile déroulant -->
    <div id="mobile-menu" class="hidden md:hidden bg-blue-950 text-white">
        <a href="{{ path('trip') }}" class="block py-2 px-4 hover:bg-blue-800 transition duration-300">Voyages</a>
        <a href="{{ path('country') }}" class="block py-2 px-4 hover:bg-blue-800 transition duration-300">Pays</a>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_logout') }}" class="block py-2 px-4 hover:bg-blue-800 transition duration-300">Déconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="block py-2 px-4 hover:bg-blue-800 transition duration-300">Connexion</a>
        {% endif %}

    </div>
    <hr>
</header>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const mobileMenuButton = document.getElementById('mobile-menu-button');
        const mobileMenu = document.getElementById('mobile-menu');

        mobileMenuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    });
</script>
